// Flex Utility classes.

// Base class is .flex, which adds display flex.
// This class is then modified using a modifier class.

// When you want an item to have fleX, with a gap and aligned in the center, you can use the following:
// class="flex flex--gap flex--justify-center"

.flex {
    display: flex;

    &--justify-start {
        justify-content: flex-start;
    }

    &--justify-center {
        justify-content: center;
    }

    &--justify-end {
        justify-content: flex-end;
    }

    &--justify-between {
        justify-content: space-between;
    }

    &--justify-around {
        justify-content: space-around;
    }

    &--justify-evenly {
        justify-content: space-evenly;
    }

    &--align-start {
        align-items: flex-start;
    }

    &--align-center {
        align-items: center;
    }

    &--align-end {
        align-items: flex-end;
    }

    &--align-stretch {
        align-items: stretch;
    }

    &--align-baseline {
        align-items: baseline;
    }

    &--column {
        flex-direction: column;
    }

    &--wrap {
        flex-wrap: wrap;
    }

    &--gap {
        gap: 1rem;
    }
}
