/**
    Flex Utility classes.
    
    Base class is .flex, which adds display flex.
    This class is then modified using a modifier class.

    When you want an item to have fleX, with a gap and aligned in the center, you can use the following:
    class="flex flex--gap flex--justify-center"
 */

.flex {
    display: flex;

    &--justify-between {
        justify-content: space-between;
    }

    &--justify-around {
        justify-content: space-around;
    }

    &--justify-center {
        justify-content: space-center;
    }

    &--justify-start {
        justify-content: flex-start;
    }

    &--justify-end {
        justify-content: flex-end;
    }

    &--align-between {
        align-items: space-between;
    }

    &--align-around {
        align-items: space-around;
    }

    &--align-center {
        align-items: space-center;
    }

    &--align-start {
        align-items: flex-start;
    }

    &--align-end {
        align-items: flex-end;
    }

    &--column {
        flex-direction: column;
    }

    &--gap {
        gap: 1rem;
    }
}
